/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i);

html,
body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    background-color: rgb(27, 25, 27);
    color: #ffffff;
    margin: 0;
    height: 100%;
}

h1 {
    margin-block-start: 0px;
}

::selection {
    background-color: #ffffff;
    text-shadow: none;
    color: #000000;
}

.cdk-overlay-pane ::selection {
    background-color: #000000;
    color: #ffffff;
}

.page-container {
    padding-bottom: 30px;
}

.feed-description {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    max-width: 800px - 150px;
    min-width: 370px;
    padding-top: 10px;
}

.with-border {
    background-color: rgba(164, 39, 214, 0.506);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 4px 4px #000000;
    width: 90%;
    text-align: center;
    max-width: 500px;
}

.bold {
    font-weight: 600;
}

a {
    color: #0285ff;
}
a:visited {
    color: #0285ff;
}

.body-container {
    font-size: 18px;
}

/* header */
.avatar {
    border-radius: 47%;
    height: 100px;
    transition: border-radius 0.5s;
}
.avatar:hover {
    border-radius: 8%;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
}

.name {
    letter-spacing: 0.12rem;
    margin-bottom: 7px;
}

.blog-post {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.blog-post:nth-child(even) {
    border-top: 2px dotted rgb(41, 41, 41);
    border-bottom: 2px dotted rgb(41, 41, 41);
}

.blog-post:last-child {
    border-bottom: 2px dotted rgb(41, 41, 41);
}

.blog-post-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
    padding-top: 10px;
}

.blog-post-summary {
    max-width: 700px;
    text-align: center;
}

.displayed-date {
    font-size: 14px;
}

.page-title-1 {
    font-size: 32px;
}
.page-title-2 {
    font-size: 28px;
    font-weight: 700;
}
.page-title-3 {
    font-size: 20px;
}
.page-title-4 {
    font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
}
